<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <!--<link rel="icon" href="img/logo.png" type="image/x-icon">  -->
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- main css -->
  <link href="css/style.css" rel="stylesheet">

  <!-- modernizr -->
  <script src="js/modernizr.js"></script>
</head>

<body>

  <!-- preloader -->
  <div id="preloader">
    <div class="pre-container">
      <div class="spinner">
	<div class="double-bounce1"></div>
	<div class="double-bounce2"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- game header -->
    <header class="game-header">
      <div class="game-logo">
	<a href="/"><img src="img/logo.png" width="15" alt="Logo"></a>
      </div>
      <!-- game-nav -->
      <a class="game-primary-nav-trigger" href="#0">
	<span class="game-menu-text">Menu</span><span class="game-menu-icon"></span>
      </a>
      <!-- game-primary-nav-trigger -->
    </header>

    <!-- nav -->
    <nav>
      <ul class="game-primary-nav">
    	<li class="game-label">Play!</li>
	
	<li><a href="shop.html">Shop</a></li>
	<li><a href="leaderboard.html">Leaderboard</a></li>

	<li class="game-label">Follow me</li>
	
	<li class="game-social"><a href="#0"><i class="ion-social-facebook"></i></a></li>
                <li class="game-social"><a href="#0"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="game-social"><a href="#0"><i class="ion-social-twitter"></i></a></li>
                <li class="game-social"><a href="#0"><i class="ion-social-dribbble"></i></a></li>
      </ul>
    </nav>

    <!-- game intro -->
    <section class="game-intro">
      <div class="table-cell">
	<h1 class="game-headline letters rotate-2">
	  <span class="game-words-wrapper">
	    <b class="is-visible">fight.</b>
	    <b>&nbsp;win.</b>
	    <b>dress.</b>
	  </span>
	</h1>
	<h5>Let's go! Nubjukee</h5>
	<div class="button">
	  <button id="btn_logintoplay" type="button" onclick="location.href='/log_in'">Login to Play</button>
	</div>
      </div>
    </section>
  </div>

  <!-- footer -->
  <footer>
    <div class="container-fluid">
      <p class="copyright">©SPARCS 2019</p>
    </div>
  </footer>

  <!--jQuery -->
  <script src="js/jquery-2.1.1.js"></script>
  <!--  plugins -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/animated-headline.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>

  <!--  custom script -->
  <script src="js/custom.js"></script>

</body>
