<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./log_in.css">
  <title>비밀번호 업데이트</title>
</head>
<body>
  <div class="login">
    <div class="login-wrapper">
      <form class="login-form" method="POST" action="/api/update_pw">
        <h1>Update PW</h1><br>
        <input type="text" placeholder="Username" name="id"/>
        <input type="password" placeholder="Password" name="pw"/>
        <input type="password" placeholder="Retype Password" name="pwcheck"/>
        <div class="button">
          <button id="btn_login" type="submit">Submit</button>
        </div>
        <br>
      </form>
      <div class="sign-up">
        <a href="./log_in.html">Main</a>
      </div>
    </div>
  </div>
</body>
</html>
